<table class="table table-borderless">
    <tbody>
    {% if persona.data_nascita %}
    <tr>
        <td class="span2">Data Nascita :</td>
        <td>
            {{ persona.data_nascita}}
        </td>
    </tr>
	{% endif %}    
	{% if persona.luogo_nascita %}
    <tr>
        <td class="span2">Luogo Nascita :</td>
        <td>
            {{ persona.luogo_nascita}}
        </td>
    </tr>
	{% endif %}
	{% if persona.sesso %}
    <tr>
        <td class="span2">Sesso :</td>
        <td>
            {{ persona.sesso}}
        </td>
    </tr>
	{% endif %}
	</tbody>
</table>
