{% if form_persone %}

	<div class="widget" >
        		<div class="widget-title">
        			<h4><i class="icon-reorder"></i>Ricerca Persona</h4>
					<span class="tools">
						<a href="javascript:;" class="icon-chevron-down"></a>
						<a href="javascript:;" class="icon-remove"></a>
					</span>
    			</div>
    			<div class="widget-body">
    				<form name='form_search_persona' method='post' action='/persone/ricerca/' >
				{% csrf_token %}
                {{ form_persone.as_p }}
                    
				<br />
				<p><input align='center' type='submit' name='cerca_persone' value='cerca'></p>
				
			
   				</form>
    			</div>
    	</div>


{% endif %}