<div class="grid_8">
						<div class="box">
							<h2>
								{{ persona.nome }} {{ persona.cognome}}
								<span class="l"></span><span class="r"></span>
							</h2>
							
							<div class="block">
								<div class="block_in">	
		<h3>{{ persona.nome }} {{ persona.cognome}}</h3>
		
		{% include 'persone/dettagli_persona.html' %}
		
		<h4>Filmografia</h4>
		{% for film in filmografia %}
			<p><b>{{ film.anno }} </b> <a onmouseover="mostra_detail_film_spalla({{ film.id }});return false;" href='/scheda/{{ film.id }}/'>{{ film.titolo }}</a></p>
		
		{% endfor %}
		
		{% if user.is_superuser %}<a target="_blank" href="/admin/persone/persona/{{ persona.id }}/" class="button medium blue"> admin </a>{% endif %}
		{% include 'persone/elenco_link.html' %}
	
		
		<h4>Biografia</h4>
		<p>{{ persona.biografia|safe }}</p>
	
		
	</div>
	</div>
		
	</div>
	
	{% include 'persone/media_persone.html' %}
</div>
