{% autoescape off %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
    {% include "scheleton/header.html" %}
    <body bgcolor="#FFFFFF" text="#000000">
        <div class="column colonna-123 last">
        	
			{% ifequal res 'ok' %}
				<script>document.location='/persone/scheda/{{persona_id}}/';</script>
			{% endifequal %} 
			 
        	<p><a href='/persone/scheda/{{persona_id}}/'>Scheda</a></p>
			<p><a href='/'>home</a></p>
        <div>
            
        
    </body>
    
</html>
{% endautoescape %}