{% autoescape off %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
    {% include "scheleton/header.html" %}
    <body class="fixed-top">
    	<script>
    		function change_page_list(page,genere,supporto,kindlist){
				$.ajax({
					type: "GET",
					url: "/ws/change_list_page/",
					data: "page="+page+"&genere="+genere+"&supporto="+supporto+"&kindlist="+kindlist,
					success: function(msg){
						$("#pagination").html(msg);
					}	
				});

			}
    	</script>
    	{% include "scheleton/top_panel.html" %}
    	<!-- BEGIN CONTAINER -->
		<div id="container" class="row-fluid">
    		{% include "scheleton/sidebar.html" %}	
    		<!-- BEGIN PAGE -->
			<div id="main-content">
				<!-- BEGIN PAGE CONTAINER-->
				<div class="container-fluid">
    				{% include "scheleton/page_header.html" %}
    				<!-- BEGIN PAGE CONTENT-->
					<div id="page">
						
						{% if film_list %}
							{% include "block/elenco_pagine.html" %}
						{% endif %}
						
						{% ifequal page_tipe 'dashboard' %}
					    	{% include "film/dashboard.html" %}
	            		{% endifequal  %}
						<div class="row-fluid">
						{% ifequal page_tipe 'scheda' %}
					    	{% include "film/scheda.html" %}
	            		{% endifequal  %}
											
						{% ifequal page_tipe 'scheda_persona' %}
					    	{% include "persone/scheda.html" %}
					    	
	            		{% endifequal  %}
	            
						{% ifequal page_tipe 'elenco_persone' %}
					    	{% include "persone/elenco_persone.html" %}
					    	
	            		{% endifequal  %}
					
						{% ifequal page_tipe 'gallery' %}
							{% include "film/gallery.html" %}
	            		{% endifequal  %}
						
						{% ifequal page_tipe 'home' %}
							<div id='pagination' class='span8'>
	            				{% include "film/elenco_img.html" %}
	            			</div>
						{% endifequal %}
						
						{% ifequal page_tipe 'supporto' %}
							<div id="pagination" class='span8'>
	            				{% include "film/elenco_img.html" %}
	            			</div>
						{% endifequal %}
				
						{% ifequal page_tipe 'supporto_lista' %}
							<div id="pagination" class='span8'>
	        		    		{% include "film/elenco_txt.html" %}
			           		</div>
					
						{% endifequal %}
							<div class='span4'>
							{% include "persone/ricerca_persona.html" %}
							{% include "film/spalla_destra.html" %}
							{% include "film/ricerca_film.html" %}
							</div>
						</div>
    				</div>
					<!-- END PAGE CONTENT-->
    			</div>
				<!-- END PAGE CONTAINER-->
			</div>
			<!-- END PAGE -->
		</div>
		<!-- END CONTAINER -->
    	
    	
    	
    	{% include "scheleton/footer.html" %}	
	</body>

</html>
    	
{% endautoescape %}