<div class="clear"></div>
          <div id="footer">
              Web design by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a>
              
              &nbsp;
              <div id="footnav">
                  <a href="http://www.freewebsitetemplates.com">Legal</a> | <a href="http://www.freewebsitetemplates.com">Privacy Policy</a>
              </div><!-- end footnav -->
              
          </div><!-- end footer -->
      </div><!-- end inner -->
  </div><!-- end wrapper -->