<div id="wrapper">
      	<div id="inner">
          <div id="header">
              <h1><img src="{{ MEDIA_URL_SITE_REPOSITORY }}grafica/logo.gif" width="519" height="63" alt="Py movie" /></h1>
			  <div id="site_title">
			  	  Py Movie
			  </div>
              <div id="nav">
                  <a href="/persone/elenco/">Elenco Persone</a> | <a href="/">Home</a> | <a href="#">help</a>
              </div><!-- end nav -->
              <img src="{{ MEDIA_URL_SITE_REPOSITORY }}grafica/header_1.jpg" width="939" height="145" alt="Harry Potter cd" /></a>
              <img src="{{ MEDIA_URL_SITE_REPOSITORY }}grafica/header_2.jpg" width="939" height="48" alt="" /></a>
          </div><!-- end header -->