<section class="grid_12 top_panel">
						<div class="box">
							<div class="block">
								<div class="panel_elements">
									<ul class="panel_item">
										<li><a href="/no_thumbnail/">Film Senza Foto<span class="number">{{ MOVIE_NO_PICS }}</span></a></li>
										<li><a href="/no_loca/">Film Senza Locandine<span class="number">{{ MOVIE_NO_LOCA }}</span></a></li>
										<li><a href="/no_video/">Film Senza Video<span class="number">{{ MOVIE_NO_ORI }}</span></a></li>
										
										
										<li class="right"><a href="#">Logout<span class="logout"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</section>