<section class="grid_12 top_panel">
						<div class="box">
							<div class="block">
								<div class="panel_elements">
									<ul class="panel_item">
										<li><a href="/no_thumbnail/">Film Senza Foto<span class="number">{{ MOVIE_NO_PICS }}</span></a></li>
										<li><a href="/no_video/">Film Senza Video<span class="number">{{ MOVIE_NO_ORI }}</span></a></li>
										
										<li><a href="#">Inactive entries<span class="number">6</span></a></li>
										<li><a href="#">Comments approval<span class="number">89</span></a></li>
										<li><a href="#">New users<span class="number">27</span></a></li>
										<li><a href="#">Settings</a></li>
										<li class="right"><a href="#">Logout<span class="logout"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</section>