<div class="row-fluid circle-state-overview span8">
	<div class="span2 responsive clearfix" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle turquoise-color">
                <i class="icon-film"></i>
            </div>
            <p>
                <strong>{{totale_film}}</strong>
                Totale film
            </p>
        </div>
    </div>
    <div class="span2 responsive clearfix" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle turquoise-color">
                <i class="icon-camera"></i>
            </div>
            <p>
                <strong>{{film_no_foto}}</strong>
                <a href='/no_thumbnail/'>Film senza foto</a>
            </p>
        </div>
    </div>
    <div class="span2 responsive clearfix" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle turquoise-color">
                <i class="icon-picture"></i>
            </div>
            <p>
                <strong>{{film_no_loca}}</strong>
                <a href='/no_loca/'>Film senza locandina</a>
            </p>
        </div>
    </div>
    <div class="span2 responsive clearfix" data-tablet="span3" data-desktop="span2">
        <div class="circle-wrap">
            <div class="stats-circle turquoise-color">
                <i class="icon-film"></i>
            </div>
            <p>
                <strong>{{film_no_ori}}</strong>
                <a href='/no_video/'>Film senza originali</a>
            </p>
        </div>
    </div>
</div>