
    
		
        
        
        {% for film in film_list.object_list %}
        	
        	<div class="widget" >
        		<div class="widget-title">
        			<h4><i class="icon-reorder"></i>{{ film.titolo }}</h4>
					<span class="tools">
						<a href="javascript:;" class="icon-chevron-down"></a>
						<a href="javascript:;" class="icon-remove"></a>
					</span>
    			</div>
    			<div class="widget-body">
					{% if not film.video_file %}
							<div class="alert">
								<button class="close" data-dismiss="alert">×</button>
								<strong>Warning!</strong> Attenzione file non presente
							</div>
					{% endif %}
			
					<div class="span12">
	    				<h3><a onmouseover="mostra_detail_film_spalla({{ film.id }});return false;">{{ film.titolo}}</a></h3>
	    			</div>
	    			
	    			<div class="row-fluid">
	    			<div class="span2">
							{% if film.get_thumbnail.getLowUrl %}
								<img src="{{ film.get_thumbnail.getLowUrl }}" width="93"  alt="photo 1" class="left" />
							{% else %}
								<img src="{{ MEDIA_URL_SITE_REPOSITORY }}grafica/noimage.jpg" width="93"  alt="photo 1" class="left" />
							{% endif %}
					</div>
					<div class="span8">
						<dl class="dl-horizontal">
							<dt>Genere:</dt>
							{% for genere in film.get_generi %}<dd>{{ genere }}</dd>{% endfor %}
							{% if film.durata %}
							<dt>Durata: </dt>
							<dd>{{ film.durata }}</dd>
							{% endif %}
							<dt>Anno:</dt>
							<dd>{{film.anno}}</dd>
							<dt>Id:</dt>
							<dd>{{ film.id }}</dd>
							
							
							{% for supporto in film.get_supporti %}{% if forloop.first %}<dt>Supporto</dt>{% endif %}<dd><a href='/supporto/{{ supporto.id }}/' onmouseover="mostra_elenco_film_spalla({{ supporto.id }},'S');return false;">{{ supporto.nome }}</a></dd>{% endfor %}
							
							
							{% for regista in film.get_regista %}{% if forloop.first %}<dt>Regia</dt>{% endif %}<dd><a href='/persone/scheda/{{ regista.id }}/' onmouseover="mostra_elenco_film_spalla({{ regista.id }},'R');return false;">{{ regista.nome }} {{ regista.cognome }}</a></dd>{% endfor %}
						</dl>
					</div>
					
					<div class="span2">
						
						<div class="btn-group-vertical">
						<a href="/scheda/{{ film.id }}/" class="btn btn-primary">Scheda</a>
						{% if user.is_superuser %}<a target="_blank" href="/admin/film/movie/{{ film.id }}/" class="btn btn-danger"> admin </a>{% endif %}
						
						</div>
            		</div>  
            	</div>
          </div>
                    </div>
		{% endfor %}
        
		
       {% include "block/block_navigazione_lista_film.html" %}
       	
       	
   
