		
	 	 	<div class="widget">
		        <div class="widget-title">
		           <h4><i class="icon-user"></i>Foto</h4>
		           <span class="tools">
		           <a href="javascript:;" class="icon-chevron-down"></a>
		           <a href="javascript:;" class="icon-remove"></a>
		           </span>                    
		        </div>
		        <div class="widget-body">
		        	<div class="row-fluid">
		        	{% for foto in film.get_photo %}
		        	
										<div class="span2">
											<div class="thumbnail">
												<div class="item">
													<a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="{{ foto.getUrl }}">
														<div class="zoom">
															<img src="{{ foto.getLowUrl }}" alt="Photo" />
															<div class="zoom-icon"></div>
														</div>
													</a>
												</div>
											</div>
										</div>
		
					{% endfor %}
		        	</div>
		        </div>
		   	</div>
			{% include "block/video_view_preview.html" %}
			{% include "block/video_view_youtube.html" %}
			
		
		
						
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	 
	
	
	
	

	
