<div class="grid_4">
	<div class="box">
		<h2>
			Ricerca Film
			<span class="l"></span><span class="r"></span>
		</h2>
		<div class="hide"><span class="s">Show</span><span class="h">Hide</span></div>
		<div class="block">
			<div class="block_in">
				

				<form name='form_search_film' method='post' action='/' >
				{% csrf_token %}
                {{ form.as_p }}
                    
				<br>
				<input align='center' type='submit' name='cerca' value='cerca'>
				
			
   				</form>
   			</div>
   		</div>
   </div>
</div>