{% if persona %}

	<h4>{{ persona.nome }} {{ persona.cognome}}</h4>
	{% if persona.has_photo %}
	<div class="text-center profile-pic">
	<a href='{{ persona.getMediumUrl }}'><img src='{{ persona.getLowUrl }}'></a>
	</div>
	{% endif %}
{% endif %}
{% if supporto %}
	<h4>{{ supporto }}</h4>
{% endif %}
{% if anno %}
	<h4>Anno {{ anno }}</h4>
{% endif %}
<h4>Film</h4>
    <ul class="icons push">
{% for movie in movie_list %}
	<li><i class="icon-film"></i><a href="/scheda/{{ movie.id }}/">{{ movie.titolo }}</a></li>
{% endfor %}
	</ul>
    