
		{% for media in filmmedia_local %}
		{% if forloop.first %}
			<div class="widget">
		        <div class="widget-title">
		           <h4><i class="icon-user"></i>Anteprima Video</h4>
		           <span class="tools">
		           <a href="javascript:;" class="icon-chevron-down"></a>
		           <a href="javascript:;" class="icon-remove"></a>
		           </span>                    
		        </div>
		        <div class="widget-body">
		
		{% endif %}
			{% ifequal media.file_type client.allowed_preview %}
			
	
			<video src="{{ media.file }}" controls="controls" type="video/{{ media.file_type }}">
				your browser does not support the video tag
			</video>
	
			
			{% endifequal %}
			{% if forloop.last %}
		</div>
	</div>

		{% endif %}
		{% endfor %}